@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Nova Bank</title>
    <link rel="stylesheet" href="~/css/home.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <header class="header">
        <a href="#" class="logo">Nova Bank.<span class="animate" style="--i:1;"></span></a>

        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <span class="animate" style="--i:2;"></span>

        </nav>
        <a href="/Auth/Login" class="btn sign-up">Sign Up <span class="animate" style="--i:3;"></span></a>
    </header>

   <section class="home">
        <span class="animate bg"></span>

       <div class="home-content">
            <h1>Next-Gen Banking<span class="animate" style="--i:4;"></span></h1>
            <h1>Secure Banking<span class="animate" style="--i:5;"></span></h1>
            <h1>Smart Transfers<span class="animate" style="--i:6;"></span></h1>
            <p>
                Nova Bank is a virtual banking platform developed to provide its users with a fast, secure, and modern digital banking experience. Thanks to its user-friendly interface, account management, money transfers, and financial transactions can be carried out easily and in a straightforward manner.<span class="animate" style="--i:7;"></span>
            <p>

            <div class="btn-box">
                <a href="#" class="btn">Get Started</a>
                <a href="#" class="btn">Learn More</a>
                <span class="animate" style="--i:8;"></span>
            </div>
       </div>
   </section>

</body>
</html>
